@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tiro Telugu', serif;
    background-color: rgb(168, 195, 252);
    
}

section{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 5px 0;
    
}

iframe{
    background-color: rgb(212, 148, 224);
    width: 70%;
    height: 500px;
    padding: 20px; 
    margin-top: 20px ;
    margin-left: 20px;
    border-radius: 10px;
    margin-right: 5px;
    position: relative;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.911);
    
    
}

.texto{
    background-color: rgb(212, 148, 224);
    width: 25%;
    height: 400px;
    float: right;
    border-radius: 10px;
    margin-right: 13px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.911);
    
}

.texto h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1.5px 1.5px 2px #fdfdfde8;
    text-align: center;
    
}


#opcion{
   
    color: #000000;
    text-shadow: 1px 1px 3px rgb(241, 241, 241);
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
    margin: 5px 20px;
    text-align: left;
    
}

#datos{
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 14px;
}


a{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    color:  rgb(212, 148, 224);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.911);
    border-radius: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
    background-color:  rgba(222, 209, 224, 0.568);
}

/*----------------------------------------------------- INICIO RESPONSIVE ------------------------------------------------------------------*/ 

@media all and (min-width:600px) and (max-width:1023px){
    
    section{
        width: 90%;
        max-width: 1200px;
        margin: auto; 
    }

    iframe{
        width: 90%;
        
    }

    .texto{
        width: 90%;
        height: 400px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 50px;
    }
}



@media all and (max-width:599px){
    section{
        width: 100%;
        max-width: 1200px;
        margin: auto; 
    }
    
    iframe{
        width: 90%;
        
    }
    
    .texto{
        width: 90%;
        height: 400px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 35px;
    
    }
    

}


