@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(146, 184, 241);
    font-family: 'Tiro Telugu', serif;
    display: flex;
    height: 100vh;
}


form{
    background-color: rgb(252, 249, 249);
    margin: auto;
    width: 90%;
    height: 70%;
    max-width: 400px;
    padding: 2em 3em;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.623);
    text-align: center;
}

.form{
    width: 100%;
    margin: auto;
}


h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 800;
    
}

.subtitulo{
    margin-top: 0;
    margin-bottom: -10px;
}

.subtitulo a{
    color: rgb(107, 107, 107);
}

a:hover{
    color: rgb(156, 89, 201);
}

#aviso{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    color: rgb(253, 2, 44);
}

form .grupo{
    position: relative;
    margin: 30px 45px 35px;
}

input, textarea{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none; 
    border-bottom: 1px solid #49454567; 
    resize: none; 
}

input:focus,textarea:focus{ 
    outline: none;
    color: rgb(94, 93, 93);
}


input:focus~label, input:valid~label, 
textarea:focus~label, textarea:valid~label{ 
    position: absolute;
    top: -14px; 
    font-size: 15px;
    font-weight: 400;
    color: rgb(152, 85, 179);
}

label{
    color: #4945458e;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.4s ease all;
    pointer-events: none;
    
}

input:focus~.barra::before, textarea:focus~.barra::before {
    width: 100%;

}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: rgb(240, 149, 164);
    transition: 0.3s ease all;
    left: 0%;
}

button{
    background-image: linear-gradient(to top, rgb(245, 150, 166) 0%, rgb(145, 183, 240) 99%, rgb(145, 183, 240) 100%);
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: 480;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    
}

#boton1{
    float: left;
    margin-left: 20px;
}

#boton2{
    float: right;
    margin-right: 20px;
}

#boton1:hover, #boton2:hover{
    box-shadow: 1px 1px 5px 3px rgba(75, 73, 73, 0.918);
    font-weight: 600;

}

#cancelar{
    text-decoration: none;
    color: #fff;
}


/*--------------------------------------------------- INICIO RESPONSIVE ------------------------------------------------------------*/ 


@media all and (min-width:1024px){

    form{
        margin: auto;
        width: 90%;
        height: 400px; 
        max-width: 400px;
    }

}



@media all and (min-width:600px) and (max-width:1023px){

    form{
        margin: auto;
        width: 90%;
        height: 400px; 
        max-width: 400px;
    }

}



@media all and (max-width:599px){
    
    form{
        margin: auto;
        width: 90%;
        height: 400px;
        max-width: 400px;
    }

}






